<!doctype html>
<html lang="pt-br">

<head>
    <title>{{titulo}}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS Personalizado -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    <!-- MDBootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/mdb.min.css')}}" type="text/css">
    <!-- Jquery -->
    <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
    <!-- Favico -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/mdb-favicon.ico') }}">

</head>

<body class="" style="height: 100vh; background: #ffffff;">
    <!-- Loading  -->



    <div class="container-fluid" style="position: absolute;">
        <div class="row">
            <div class="col-md-12">

                <!--cria container onde as mensagens serão exibidas-->
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <!--condição para exibição das mensagens-->
                <ul id="messages" class="list-unstyled text-center">
                    <!--laço e repetição para exibição das mensagens-->
                    {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{message}}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}

            </div>
        </div>

        <!--fim dos laços-->
    </div>
    <div class="container-fluid">
        <div class="row " style="height: 100vh;">
            <div v class="col-md-12 d-flex justify-content-center align-items-center">

              <div>
                <h1 class="h1">Instalado com sucesso!</h1>
              </div>

            </div>
        </div>
    </div>
    <!-- IonIcons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- Javascripts -->
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
    <!-- Mdb -->
    <script src="{{url_for('static', filename='js/mdb.min.js')}}"></script>


</body>

</html>